on boot
    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/sde-crtc-0/measured_fps
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/sde-crtc-0/measured_fps
    
import /system/etc/init/init.safailnet.rc

on post-fs-data
    write /sys/class/drm/card0-DSI-1/dim_layer_enable 1
    mount none dev/null /vendor/lib/soundfx/libvolumelistener.so bind
    mount none dev/null /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none dev/null /vendor/overlay/FrameworksResTarget.apk bind

service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

service vendor.imsdatadaemon /vendor/bin/imsdatadaemon
    override
    class main
    user radio
    socket ims_datad stream 0660 system radio
    group radio wifi inet vendor_qti_diag log
    disabled

on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.tcpdump=running
    stop tcpdump

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag
    
on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
    setprop dalvik.vm.dex2oat-threads 6
